/*------------------
		VARS
-------------------*/

// Header
$header-px: 30px;
$header-py: 3px;
$header-logo-w: 200px;

// Footer
$footer-px: 30px;
$footer-py: 3px;

// Buttons
$btn-border-width: 1px;
$btn-px: 7px;
$btn-px-xl: 11px;
$btn-py: 5px;
$btn-py-xl: 7px;
$btn-radius: 5px;
$btn-icon-w: 15px;
$btn-icon-w-xl: 17px;

// Box shadows
$shadow-header: 0 0 5px rgba(0, 0, 0, 0.4);

// Spacing
$gutter-default: 15px;

// Radius
$radius-default: 5px;

// Transitions
$transition-default: all 0.25s ease-in-out;

// Recipe
$recipe-img-h: 350px;
$recipe-img-wmax: 400px;
$recipe-icon-w: 20px;

// Forms
$input-h: 35px;
$input-py: 3px;
$input-px: 10px;

// Search
$search-wmax: 350px;
